{% extends "base.html" %}

{% block start %}

<a href='{% url "view_cart" %}' class='h-14 w-full bg-slate-600 flex justify-end text-2xl pr-44 text-white py-3'>
<i class="fa-solid fa-cart-shopping"></i>
</a>
<div class='grid grid-cols-3 mx-16'>    
{% for shop_objs in shop_obj %}
<div class="">
    <div class="">
        <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border  w-96">
            <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96">
                <a href="{% url 'product_detail' shop_objs.id %}">
                    <img src="{{ shop_objs.image.url }}" alt="card-image" class="object-cover w-full h-full" />
                </a>
            </div>
            
            <div class="p-6">
                <div class="flex items-center justify-between mb-2">
                    <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                        {{shop_objs.name}}
                    </p>
                    <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                        {{shop_objs.price}}
                    </p>
                </div>
                <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
                    {{shop_objs.description}}
                </p>
            </div>
            <div class="p-6 pt-0">
                <button
                    onclick="location.href='{% url 'add_to_cart' shop_objs.id %}'"
                    class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100"
                    type="button">
                    Add to Cart
                </button>
            </div>
        </div>      
    </div>
</div>
{% endfor %}
</div>
{% endblock %}